__pycache__
**/__pycache__
**/__pycache__/**
.ruff_cache
**/*.png
**/*.svg
**/*.mp3
**/*.wav
**/*.ttf
**/*.as
**/*.txt
.import_staging
vex2-modded.swf
!scripts/starGraphic.as
!scripts/act0Block.as
!scripts/Main.as
!scripts/finishPortal.as
!scripts/lightSwitch.as
!scripts/player.as
!scripts/itemPackage.as
!scripts/stageBuilderGUI.as
!scripts/com/newgrounds/components/FlashAd.as
!scripts/com/newgrounds/components/APIConnector.as
!scripts/darkOverlay.as
!scripts/additionalMaths.as
!scripts/gameTransition.as
!scripts/achievementButton.as
!scripts/checkpoint.as
!scripts/lever.as
!scripts/act0Block.as
workspace
RABCDAsm
RABCDAsm/**
images
!scripts/pushBlock.as
!scripts/iceBlock.as
!scripts/achievementsWindow.as
!scripts/achievementsLog.as
!scripts/gameTransitionIn.as
*.7z
.direnv
*.zip
!.foldericon.png
!a.png
!icon-512.png
!s.png
!s.png
!scripts/vex2_fla/spawnMaskFast_226.as
!scripts/vex2_fla/spawnMask_224.as
