__pycache__
**/__pycache__
**/__pycache__/**
.ruff_cache
**/*.png
**/*.svg
**/*.mp3
**/*.wav
**/*.ttf
**/*.as
**/*.txt
.import_staging
vex2-modded.swf
!starGraphic.as
!./act0Block.as
!Main.as
!finishPortal.as
!lightSwitch.as
!player.as
!itemPackage.as
!stageBuilderGUI.as
!com/newgrounds/components/FlashAd.as
!com/newgrounds/components/APIConnector.as
!darkOverlay.as
!additionalMaths.as
!gameTransition.as
!achievementButton.as
!checkpoint.as
!lever.as
!act0Block.as
workspace
RABCDAsm
RABCDAsm/**
images
!pushBlock.as
!iceBlock.as
!achievementsWindow.as
